<template name="verifiedwarning">

  {{#if currentUser }}
    {{#if isInRole 'admin'}}

    {{else}}
      {{#unless allDone}}
        <p class="alert alert-warning">{{_ 'warningbanner.warning_for_enroll'}}</p>

        {{#if ifProfile}}
          {{#unless ProfileImage}}
            <p class="alert alert-warning">{{_ 'warningbanner.upload_photo'}} <a class="uploadRedirect" href="/me">{{_ 'warningbanner.profile'}}</a></p>
          {{/unless}}
        {{else}}
          <p class="alert alert-warning">{{_ 'warningbanner.need_to_complete'}} <a href="/me">{{_ 'warningbanner.profile'}}</a></p>
        {{/if}}
      {{/unless}}
    {{/if}}


  {{/if}}

</template>
