<template name="verifiedwarning">
  {{#if currentUser }}
    {{#unless currentUser.emails.[0].verified}}
      <p class="alert alert-warning">You need to verify your email address and complete your <a href='/me'>personal information</a> before enroll in any programs.
      {{#if inProgress}}
        <button type="button" class="btn btn-success" disabled="disabled">Please Wait: {{getCountdown}}</button>
      {{else}}
        <button type="button" class="btn btn-success btn-send resend-verification-link">Send Email</button>
      {{/if}}
      </p>
    {{/unless}}
  {{/if}}
</template>
